 <div class='container'>
  <div class='row'>
    <div class='col-md-3'>
    <%= render 'users/info',{user:@book.user} %>
    <%= render 'new',{book:@post, user:@book.user} %>
  </div>
  </div>

 <div class='col-md-8 offset-md-1'>
  	<h2>Book detail</h2>
  		<table class='table'>
        <tr>
         <th>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
           <%= link_to @user.name ,user_path(@user.id) %>
         </th>
         <th><%= @book.title %></th>
        <th><%= @book.body %></th>

      <% if @book.user == current_user %>
        <td>
          <%= link_to "edit",edit_book_path, class:"btn btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to "Destroy",book_path,method: :delete, class: "btn btn-sm btn-danger" %>
        </td>
     <% end %>
      </tr>
      </table>
 </div>
</div>
<div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>