<div class="container">
<div class="row">
  <div class="col-md-4">
    <%= render 'users/info',{user:@book.user} %>
    <%= render 'new',{book:@post, user:@book.user} %>
  </div>

  <div class="col-md-8">

    <table class="table">
    <h1>Book detail</h1>

    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
          <tr>
        <th>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
           <%= link_to @user.name ,user_path(@user.id) %>


        </th>
        <th><%= @book.title %></th>
        <th><%= @book.body %></th>



            <% if @book.user == current_user %>
        <td>
           <button type="button" class="btn btn-info"><%= link_to "edit",edit_book_path, class: "edit_book_#{@book.id}" %></button>
        </td>
        <td>
         <button type="button" class="btn btn-danger"><%= link_to "Destroy",book_path,method: :delete, class: "destroy_book_#{@book.id}" %></button>
        </td>
        <% end %>